@charset "utf-8";

@media screen and (max-width:1199px) {
  .inner {
    width: 97%;
  }

  .profile-inner {
    padding: 50px 0 25px;
    display: inline-block;
  }

  .profile__profile-title {
    margin-top: 20px;
  }

  .profile__profile-text {
    display: inline-block;
    width: 80%;
  }

  .latest-work__image {
    float: none;
    margin: 0 auto;
    width: 300px;
  }

  .latest-work__image:nth-child(3n+1) {
    margin: 0 auto;
    margin-top: 80px;
  }

  .latest-work__image:first-child {
    margin-top: 40px;
  }

  .latest-work__contact {
    flex-direction: column;
  }

  .latest-work__text {
    width: 70%;
  }

  .latest-work__email-button {
    margin-left: 0;
    margin-top: 40px;
  }

  .skills__image-wrapper {
    flex-direction: column;
  }

  .skills__image {
    float: none;
    margin-left: 0;
    margin-top: 88px;
  }

  .skills__image:first-child {
    margin-top: 0;
  }

  .footer__contents {
    padding: 15px;
  }
}

@media screen and (max-width:767px) {
  .header__contact-button {
    display: none;
  }

  .header__contact-icon {
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #ddd;
    display: block;
    float: right;
    padding: 10px;
  }

  .title-inner {
  padding: 160px 0 130px;
  }

  .title__main-title {
    font-size: 80px;
  }

  .profile__profile-text {
    width: 96%;
  }

  .latest-work__text {
    width: 85%;
  }

  .sns-inner {
    padding: 50px 0;
  }

  .sns__icon-wrapper {
    flex-direction: column;
  }

  .sns__icon {
    float: none;
    width: 100%;
  }

}