.clearfix::after {
  content: "";
  display: block;
  clear: both;
  }

body {
  font-family: Lato;
}

.title-font {
  font-family: Raleway;
}

.main {
  padding-top: 78px;
}

.inner {
  width: 1100px;
  margin: 0 auto;
  text-align: center;
}

/*header*/
.header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.header-inner {
  padding: 15px 0;
}

.header__icon {
  color: #4e4e4e;
  font-size: 3em;
  float: left;
}

.header__contact-button {
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  float: right;
  padding: 14px 12px;
  text-decoration: none;
  transition: all .3s;
}

/*title*/
.title {
  background-color: #f2f2f2;
  width: 100%;
}

.title-inner {
  padding: 250px 0;
}

.title__main-title {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
}

.title__sub-title {
  color: #c0c0c0;
  font-size: 30px;
  margin-top: 20px;
}

/*what we can do*/
.profile {
  background-color: #74cfae;
  width: 100%;
}

.profile-inner {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
}

.profile__profile-title {
  color: #fff;
  font-size: 24px;
  margin-top: 25px;
}

.profile__profile-text {
  color: #fff;
  font-size: 20px;
  margin-top: 35px;
  width: 647px;
}

/*our latest work*/
.latest-work {
  background-color: #f2f2f2;
  width: 100%;
}

.latest-work-inner {
  padding-top: 60px;
  padding-bottom: 70px;
}

.latest-work__title {
  color: #333;
  font-size: 24px;
}

.latest-work__image {
  display: block;
  float: left;
  list-style: none;
  margin-left:100px;
  margin-top: 80px;
  opacity: .7;
  transition: all .3s;
}

.latest-work__image:nth-child(3n+1) {
  margin-left: 0;
}

.latest-work__image:nth-child(-n+3) {
  margin-top: 40px;
}

.latest-work__contact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
}

.latest-work__text {
  font-weight: 300;
  width: 440px;
}

.latest-work__email-button {
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  margin-left: 90px;
  padding: 14px 20px;
  text-decoration: none;
  transition: all .3s;
}

/*our skills*/
.skills {
  background-color: #4e4e4e;
  width: 100%;
}

.skill-inner {
  padding: 70px 0 100px;
}

.skills__title {
  color: #fff;
  font-size: 24px;
}

.skills__image-wrapper {
  margin-top: 40px;
}

.skills__image {
  display: inline-block;
  margin-left: 180px;
}

.skills__image:first-child {
  margin-left: 0;
}

.skills__image-caption {
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
}

/*sns*/
.sns {
  background-color: #f2f2f2;
  width: 100%;
}

.sns-inner {
  padding: 200px 0;
}

.sns__icon-wrapper {
  display: flex;
  justify-content: center;
}

.sns__icon {
  font-size: 3em;
  float: left;
  list-style: none;
  padding: 30px 0;
  transition: all .3s;
  width: 185px;
}

.sns__icon-color {
  color: #74cfae;
}

/*footer*/
.footer {
  background-color: #74cfae;
  width: 100%;
}

.footer-inner {
  padding: 20px 0 25px;
}

.footer__contents {
  color: #fff;
  text-align: right;
}

/*animation*/
.header__contact-button:hover, .latest-work__email-button:hover {
  color: #333;
}

.latest-work__image:hover {
  opacity: 1;
}

.sns__icon:hover {
  background-color: #fff;
}